.collapse-menu 
{
	box-sizing:  border-box; 
	padding:     0;
	margin:      0;
	border:      0;
    white-space: nowrap;
    width:       100%;
	position:    relative;
}
.collapse-menu .menu-item, 
.collapse-menu .collapse-overflow-anchor
{ 
	display:         inline-block; 
	list-style-type: none;
	padding:         3px 10px; 
	margin:          0 5px;
	font-weight:     bold;	
	text-align:      center;	
}
.collapse-menu .collapse-overflow 
{ 
	display:  inline-block; 
	position: relative;
}
.collapse-menu .collapse-overflow .collapse-overflow-menu 
{
    display:         none;	
    position:        absolute;
	list-style-type: none;
	padding:         1px 0;
	border:          1px #ccc solid;
}
.collapse-menu .collapse-overflow:hover .collapse-overflow-menu 
{
    display:  block;	
}
.collapse-menu .collapse-overflow .collapse-overflow-menu li
{
    display:    list-item;	
	text-align: left;
    border:     0;
}